{% extends 'webapp/common.html' %}
{% block title %}
  About Us
{% endblock title %}

{% block body %}
<div class="container my-5">
  <ul class="bg-info rounded" style="color:red;">
    <li class="my-2">There are many NGOs that works for old age, orphans shelter, animals shelter, etc. So, such type of organizations needs medicines for people/animals in their shelter.</li>
    <li class="my-2">As they run shelters usually they have doctors available who provide services for organization who prescribe medicines accordingly.</li>
    <li class="my-2">Here the motive of this website will be that the unused medicines can be collected according to the requirements specified by the NGOs.</li>
    <li class="my-2">This website will have 2 specific registration/login process 
      <ul>
        <li class="my-2">NGO Login</li>
        <li class="my-2">Member Login (Basically member is a user who wants to donate)</li>
      </ul>
    </li>
    <li class="my-2">When the NGO registers itself to this website, they would have to attach the legal documents, licenses of its organization which will be cross checked by the group of admins, only after its verification the organization can have its successful registration.</li>
    <li class="my-2">For member registration he/she needs to give their basic details including address. Whenever if they want to donate they can upload details of the medicine online which later will be shown as result if anyone searches for it.</li>
  </ul>


</div>
{% endblock body %}