<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <title>{% block title %} {% endblock %}</title>
    <style>
      {% block css %} {% endblock %}
    </style>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    
    {% block head %}
      
    {% endblock head %}
  </head>


  <body>
<!-- --------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- If User is authenticated then only their respective fields will be shown -->
 {% if user.is_authenticated %}

    <!--  Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
      <a
        class="navbar-brand"
        href="/"
        data-toggle="tooltip"
        data-placement="bottom"
        title="HomePage">DaanPunya.in</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.first_name}}
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/handleLogout">LOGOUT</a>
            </div>
          </div>
          </li>
          {% if user.is_org %}
          <!-- if user is org  -->

          <li class="nav-item">
            <a class="nav-link" href="/rqMed">Request Medicine</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/status">Status</a>
          </li>

          {% else %}
          <!-- if user is donor  -->
          <li class="nav-item">
            <a class="nav-link active" href="/donateMed">Donate</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/status1">Status</a>
          </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/termsnCon">Terms & Conditions</a>
          </li>
        </ul>
      
        {% if user.is_org %}
    <form class="form-inline my-2 my-lg-0" action="/searchResult">
      <input
        class="form-control mr-sm-2"
        type="search"
        id="searchMed"
        name="searchMed"
        placeholder="Search"
        aria-label="Search"
      />
      <button
        class="btn btn-outline-light my-2 my-sm-0"
        id="searchBtn"
        type="submit"
      >
        Search
      </button>
    </form>
    {% endif %}
  </div>
</nav>

 {% else %}
<!-- If user is not logged in then this default page will be shown to each and every visitor -->
  <!--  Navigation Bar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a
      class="navbar-brand"
      href="/"
      data-toggle="tooltip"
      data-placement="bottom"
      title="HomePage"
      >DaanPunya.in</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/login"
            >SignIn/SignUp <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/termsnCon">Terms & Conditions</a>
        </li>
      </ul>
    </div>
  </nav>

 {% endif %}

<!-- Here the below message part is putted in block messages so it can not be inherited in some pages where it is not needed like in homepage -->
 {% block messages %}
{% for message in messages %}
<div
  class="alert alert-{{ message.tags }} alert-dismissible fade show"
  role="alert"
>
  <strong>Message : </strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endblock %}
    
    {% block body %} {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
