{% extends "webapp/common.html" %}
{% block title %}
  RESET MAIL SENT
{% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}
<div class="container ">
    <h1 class="text-center" style="color: crimson;">PASSWORD RESET MAIL HAS BEEN SEND</h1>
<h2 class="text-center" style="color:darkslategrey">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

    If you don’t receive an email, please make sure you’ve entered the email you registered with, and check your spam folder.</h2>
</div>
{% endblock body %}