{% extends "webapp/common.html" %}
{% block title %}
  RESET PASSWORD
{% endblock title %}

{% block css %}
body {
  height:100%;
  align-items: center;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}
{% endblock css %}

{% block body %}
<div class="container ">

  <form method="post" class="form-signin">
    {% csrf_token %}
     <div class="form-label-group">
        <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control my-2" placeholder="New Password" autofocus>
      </div>

      <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control my-2" placeholder="Confirm Password" autofocus>
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
    </div>
  </form>
</div>

<script>
    var password = document.getElementById("id_new_password1")
  , confirm_password = document.getElementById("id_new_password2");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
{% endblock body %}