{% extends "webapp/common.html" %}
{% block body %}
  <div class="container"><h3 class="text-center">Terms and condition</h3> <br><br><br><br>

You are specifically restricted from all of the following:
<br>
publishing any Website material in any other media;<br>
selling, sublicensing and/or otherwise commercializing any Website material;<br>
publicly performing and/or showing any Website material;<br>
using this Website in any way that is or may be damaging to this Website;<br>
using this Website in any way that impacts user access to this Website;<br>
using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity;<br>
engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website;<br>
using this Website to engage in any advertising or marketing. <br>
Certain areas of this Website are restricted from being access by you and Company Name may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well. <br>
</div>

{% endblock body %}